{% extends 'base.html' %}

{% block content %}
    <div class="mx-0 container-fluid p-0 row justify-content-around mt-5">
        {% for product in Products %}
        <div class="col-sm-3 m-2 imgDiv">
            <div class="card" style="width: 18rem;">
                <img src="{{product.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="text-left font-weight-lighter">Views {{product.views }}</p>
                    <a href="{% url 'productsHome:productView' product.id%}" class=" container btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {%endfor%}




    </div>
</body>

</html>
{% endblock content %}